@import "tailwindcss";

:root {
    /* Color system */
    --color-white: #ffffff;
    --color-black: #000000;

    /* ===== GRAY SCALE ===== */
    --color-white-gray: rgba(255, 255, 255, 0.9);
    --color-dark-gray: rgba(255, 255, 255, 0.8);
    --color-gray-primary: #edf0f2;
    --color-light-gray: #ececec;
    --color-gray-light: #e2e8f0;
    --color-gray-very-light: #eee;
    --color-gray-lighter: #ece;
    --color-gray-light-alt: #cccccc;
    --color-gray-medium: #565656;
    --color-gray-dark: #101828;
    --color-dark-charcoal: #202020;
    --color-charcoal-light: #212227;

    /* Primary colors */
    --color-primary: #010f39;
    --color-secondary: #F9FAFB;
    --color-primary-light: #54577a;
    --color-primary-dark: #00072a;
    --color-yellow: #f59e0b;
    --color-red: #d6235d;

    /* Text colors */
    --color-text-dark: #1e1e1e;
    --color-text-gray: #111827;

    /* Gradient colors */
    --color-gradient-menu: linear-gradient(
            90deg,
            rgba(210, 15, 88, 0.25) 0%,
            rgba(99, 119, 228, 0.25) 50%,
            rgba(22, 181, 234, 0.25) 100%
    );
    --color-gradient-menu-dark: linear-gradient(
            90deg,
            rgba(210, 15, 88, 1) 0%,
            rgba(99, 119, 228, 1) 50%,
            rgba(22, 181, 234, 1) 100%
    );

    /* Feedback colors */
    --color-success: #047857;
    --color-success-light: #d1fae5;
    --color-error: #d6235d;
    --color-error-light: #fee2e2;
}


body {

    color: var(--color-primary-light);
    background-color: var(--color-secondary);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-gray-very-light);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark);
}

/* Custom animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

/* Custom background classes */
.bg-gradient-menu {
    background-image: var(--color-gradient-menu);
}

.text-gradient-menu {
    color: var(--color-gradient-menu-dark);
}

/* Custom background classes */
.text-primary {
    color: var(--color-primary);
}

.text-red {
    color: var(--color-red);
}

.text-yellow {
    color: var(--color-yellow);
}
